@page "/"
@using Shared.Models
@using laba_10.Interfaces
@using System.Diagnostics
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveServer

<PageTitle>Home</PageTitle>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Manager</th>
      <th>Set Price</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var project in projects)
    {
      <tr>
        <td>@project.Id</td>
        <td>@project.Name</td>
        <td>@project.Description</td>
        <td>@project.Price</td>
        <td>
          <input type="number" value="@project.Manager?.Id" @onchange="((ChangeEventArgs e) => UpdateProject(project.Id, e.Value.ToString()))" />
        </td>
        <td>
          <input type="number" value="@project.Price" @onchange="((ChangeEventArgs e) => UpdatePrice(project.Id, e.Value.ToString()))" />
        </td>
        <td>
          <button @onclick="() => DeleteProject(project.Id)">
            X
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Project</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var manager in managers)
    {
      <tr>
        <td>@manager.Id</td>
        <td>@manager.Name</td>
        <td>
          @foreach (var project in SetProjectToManager(manager.Id))
          {
            <span>@project.Name</span>
            <span>,&nbsp;</span>
          }
        </td>
      </tr>
    }
  </tbody>
  <br />
  <h3>Total Price: @GetPrice()</h3>
</table>

@code {
  [Inject]
  public required IManager ManagerService { get; set; }

  [Inject]
  public required IProject ProjectService { get; set; }

  List<Project> projects = new List<Project>();
  List<Manager> managers = new List<Manager>();
  List<Project> managerProjects = new List<Project>();

  protected override async Task OnInitializedAsync() 
  {
    projects = @ProjectService.GetProjectDetails();
    managers = @ManagerService.GetManagerDetails();
  }

  void UpdateProject(int id, string managerId) {
    Project project = ProjectService.GetProjectData(id);

    project.ManagerId = int.Parse(managerId);
    var result = ProjectService.UpdateProject(project);

    if (result.IsCompleted) 
    {
      SetProjectToManager(int.Parse(managerId));
    }
  }

  void UpdatePrice(int id, string inPrice)
  {
    Project project = ProjectService.GetProjectData(id);
    project.Price = double.Parse(inPrice);

    var result = ProjectService.UpdateProject(project);

    if (result.IsCompleted) 
    {
      LoadListProject();
    }
  }

  void DeleteProject(int id)
  {
    var result = ProjectService.DeleteProject(id);

    if (result.IsCompleted) 
    {
      LoadListProject();
    }
  }

  void LoadListProject()
  {
    projects = @ProjectService.GetProjectDetails();
  }

  List<Project> SetProjectToManager(int managerId) 
  {
    return ProjectService.GetProjectDetails().Where(p => p.ManagerId == managerId).ToList();
  }

  double GetPrice() 
  {
    return projects.Sum(x => x.Price);
  }
}
